# Topmost editorconfig for project, don't ascend
# to parent directories when scanning configs
root = true

# All files: UTF-8 with Unix-style newlines,
# and a newline at the end of the file
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript, Python, CSS: 4-space indents
[*.{js,py,css}]
indent_style = space
indent_size = 4

# XML, Meson, Glade: 2-space indents
[*.{xml,build,ui}]
indent_style = space
indent_size = 2

# Most JSON: 2-space indents
[*.json]
indent_style = space
indent_size = 2

# WebExtension templates: 4-space indents
[data/org.gnome.shell.extensions.gsconnect.json-{chrome,mozilla}]
indent_style = space
indent_size = 4

