
/**
 * Chrome/Firefox buttons in Preferences->Other
 */
.badge-button {
  border: 0px;
  padding: 0px;
  background: transparent;
}

/**
 * Messaging Placeholders
 */
.contact-placeholder,
.conversation-list {
  background: @content_view_bg_color;
}

.contact-placeholder > label,
.conversation-placeholder > label,
.conversation-list-placeholder > label {
  font-size: 1.125em;
  font-weight: bold;
}

/**
 * Contact Chooser
 */
.contact-entry {
  border: 0px;
  padding: 6px;
}

.contact-window {
  border-top: 1px solid @borders;
}

.contact-list row {
  padding: 0px;
}


/**
 * Message List (GtkScrolledWindow)
 */
.message-window {
  border-bottom: 1px solid @borders;
}

/**
 * Date/Time header for messages
 */
.message-list > label {
  font-size: small;
  margin-bottom: 1em;
}

/**
 * Incoming Message Bubbles (GtkLabel subclass)
 */
.message-in {
  background: @theme_selected_bg_color;
  border-radius: 0.25em 1em 1em 0.25em;
  color: @theme_selected_fg_color;
  padding: 6px;
  padding-right: 9px;
  padding-left: 9px;
}

.message-in:first-child {
  border-top-left-radius: 1em;
}

.message-in:last-child {
  border-bottom-left-radius: 1em;
}

/**
 * Must contrast with .message-in background
 */
.message-in *:link {
  color: @theme_selected_fg_color;
}


/**
 * Outgoing Message Bubbles (GtkLabel subclass)
 */
.message-out {
  background: alpha(@theme_selected_bg_color, 0.2);
  border-right: 3px solid @theme_selected_bg_color;
  border-radius: 1em 0.25em 0.25em 1em;
  padding: 6px;
  padding-right: 6px;
  padding-left: 9px;
}

.message-out:first-child {
  border-top-right-radius: 1em;
}

.message-out:last-child {
  border-bottom-right-radius: 1em;
}

/**
 * Must contrast with .message-out background
 */
.message-out *:link {
  color: @theme_fg_color;
}

/**
 * Special case for pending messages
 */
.message-pending .message-out {
  opacity: 0.5;
}

