[D-BUS Service]
Name=org.gnome.shell.extensions.gsconnect.daemon
Exec=/bin/sh -c "gjs ~/.local/share/gnome-shell/extensions/gsconnect@andyholmes.github.io/service/daemon.js"
