[Desktop Entry]
Type=Application
Name=GSConnect
Exec=/bin/sh -c "gjs @PREFIX@/service/daemon.js"
Terminal=false
Hidden=false
NoDisplay=true
Icon=org.gnome.Shell.Extensions.GSConnect
Categories=Network;
DBusActivatable=true
X-GNOME-UsesNotifications=true

