[Desktop Entry]
Type=Application
Name=GSConnect
Exec=/bin/sh -c "gjs ~/.local/share/gnome-shell/extensions/gsconnect@andyholmes.github.io/service/daemon.js"
Terminal=false
Hidden=false
NoDisplay=true
Icon=phone
Categories=Network;
DBusActivatable=true

