[Desktop Entry]
Type=Application
Name=GSConnect
Exec=@DATADIR@/service/daemon.js %u
Terminal=false
NoDisplay=true
Icon=org.gnome.Shell.Extensions.GSConnect
Categories=Network;
MimeType=x-scheme-handler/sms;
DBusActivatable=true
X-GNOME-UsesNotifications=true

