
/* Device Menu Hierarchy

.gsconnect-device-box [ PopupMenu.PopupBaseMenuItem ]
    StButton.gsconnect-device-button
        StDrawingArea
    StBoxLayout.gsconnect-control-box
        StBoxLayout.gsconnect-title-bar
            StLabel.gsconnect-device-name
            StWidget.gsconnect-title-separator (inherits from .popup-separator-menu-item)
            StBoxLayout.gsconnect-device-battery
                StLabel
                StIcon
        StBoxLayout.gsconnect-plugin-bar
            StButton.gsconnect-plugin-button (inherits from .system-menu-action)
                StIcon
        StBoxLayout.gsconnect-status-bar
            StLabel
*/

.gsconnect-device-box {
    padding: 0.5em 1em;
    spacing: 0.5em;
}

.gsconnect-device-button {
    border: none;
    border-radius: 24px;
    padding: 0px;
}

.gsconnect-device-button:hover, .gsconnect-device-button:focus {
    border: none;
    border-radius: 24px;
    padding: 0px;
}

.gsconnect-control-box {
    spacing: 0.25em;
}

.gsconnect-title-bar {
    spacing: 0.75em;
}

.gsconnect-device-name {
    font-weight: bold;
}

.gsconnect-title-separator {
    margin-left: 0;
    margin-right: 0;
}

.gsconnect-device-battery {
    spacing: 3px;
}

.gsconnect-plugin-bar {
    spacing: 6px;
}

.gsconnect-plugin-button {
    border: none;
    border-radius: 16px;
    padding: 8px;
}

.gsconnect-plugin-button:hover, .gsconnect-plugin-button:focus {
    border: none;
    padding: 8px;
}

.gsconnect-status-bar {
}

/**
 * Account for a patch that landed in gnome-shell-3.28.0 that clobbered all
 * :first-child descendants with margin/padding changes.
 * https://gitlab.gnome.org/GNOME/gnome-shell/commit/fb9db4e171778a63bd85ac6fde15b7acfdede2c2
 */
.aggregate-menu .popup-sub-menu .gsconnect-device-box :first-child {
    padding: 0;
    margin: 0;
}

.aggregate-menu .popup-sub-menu .gsconnect-plugin-button:first-child {
    border: none;
    border-radius: 16px;
    padding: 8px;
}

/* Tooltip

StBin.gsconnect-tooltip (inherits from .osd-window)
    StBoxLayout || [ Custom ClutterActor ]
        StIcon.gsconnect-tooltip-icon
        StLabel.gsconnect-tooltip-text
*/
.gsconnect-tooltip {
    border-radius: 3px;
    min-width: 0;
    min-height: 0;
    padding: 6px;
}

.gsconnect-tooltip > StBoxLayout {
    spacing: 6px;
}

.gsconnect-tooltip-icon {
}

.gsconnect-tooltip-text {
    font-weight: normal;
    text-align: left;
}

.gsconnect-tooltip-text:rtl {
    text-align: right;
}

