
/* Device Menu Hierarchy

User Menu:

.gsconnect-device-section (PopupMenu.PopupMenuSection)
    PopupMenu.PopupMenuSection

Indicator:

PanelMenu.Button
    PopupMenu.PopupMenu

*/
.gsconnect-device-section {
}

/* Title Bar */
.gsconnect-device-name {
    font-weight: bold;
}

.gsconnect-device-iconmenu .popup-separator-menu-item,
.gsconnect-device-textmenu .popup-separator-menu-item {
    margin-left: 0;
    margin-right: 0;
}

/* Battery Widget */
.gsconnect-device-battery {
    spacing: 3px;
}

.gsconnect-device-battery StLabel {
    font-size: 0.75em;
}

.gsconnect-device-battery StIcon {
    icon-size: 16px;
}

.aggregate-menu .gsconnect-device-battery {
    opacity: 0.5;
}

/* Icon Box */
.gsconnect-icon-box {
    margin: 0em 2em 0.5em;
    spacing: 6px;
}

.gsconnect-icon-button {
    border: none;
    border-radius: 16px;
    padding: 8px;
}

.gsconnect-icon-button:hover, .gsconnect-icon-button:focus {
    border: none;
    padding: 8px;
}

/* List Box */
.gsconnect-list-box {
}

/* Do Not Disturb Dialog

.gsconnect-dnd-dialog [ModalDialog.ModalDialog]
    StBoxLayout.nm-dialog-header-hbox
        StIcon.nm-dialog-header-icon
        StBoxLayout
            StLabel.nm-dialog-header
            StLabel.nm-dialog-subheader
    StBoxLayout.nm-dialog-content
        StBoxLayout.gsconnect-radio-list
            StBoxLayout.gsconnect-radio-button (Until you turn off...)
                StButton.pager-button
                    StIcon
                StLabel
            StBoxLayout.gsconnect-radio-button (Until 00:00)
                StButton.pager-button
                    StIcon
                StBoxLayout.gsconnect-dnd-timer
                    StLabel
                    StButton.pager-button
                        StIcon
                    StButton.pager-button
                        StIcon
 */

.gsconnect-radio-list {
    spacing: 0.25em;
}

.gsconnect-radio-button {
    spacing: 0.25em;
}

.gsconnect-radio-button .pager-button {
    /* fix for arc-theme */
    color: inherit;
}

.gsconnect-radio-button StIcon {
    icon-size: 16px;
}

.gsconnect-dnd-timer {
    spacing: 0.25em;
}

/* Tooltip

StBin.gsconnect-tooltip (inherits from .osd-window)
    StBoxLayout || [ Custom ClutterActor ]
        StIcon
        StLabel
*/
.gsconnect-tooltip {
    border-radius: 3px;
    min-width: 0;
    min-height: 0;
    padding: 6px;
}

.gsconnect-tooltip > StBoxLayout {
    spacing: 6px;
}

.gsconnect-tooltip StIcon {
    icon-size: 16px;
}

.gsconnect-tooltip StLabel {
    font-weight: normal;
    text-align: left;
}

.gsconnect-tooltip StLabel:rtl {
    text-align: right;
}

