# SPDX-FileCopyrightText: GSConnect Developers https://github.com/GSConnect
#
# SPDX-License-Identifier: GPL-2.0-or-later

name: CI

on:
  push:
    branches:
      - main
      - gnome-43
  pull_request:
    branches:
      - main
      - gnome-43
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/gsconnect/gsconnect-ci:main
    steps:
      - uses: actions/checkout@v4

      - name: Install node modules
        run: npm install

      - name: Prepare
        run: |
          meson --prefix=/usr \
                --libdir=lib/ \
                -Dgnome_shell_libdir=/usr/lib64/ \
                _build

      - name: Uninstalled Tests
        run: |
          meson test -C _build --suite gsconnect:data \
                               --suite gsconnect:lint \
                               --print-errorlogs

      - name: Installed Tests
        run: |
          ninja -C _build install
          xvfb-run -a dbus-run-session -- \
          gnome-desktop-testing-runner gsconnect -L _build/meson-logs

      - name: Upload Test Logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-logs
          path: _build/meson-logs

      - name: Test Build
        run: |
          ninja -C _build make-zip

      - name: Stage packaged extension
        run: |
          ninja -C _build make-pkgdir

      - name: Create and upload packaged artifact
        uses: actions/upload-artifact@v4
        with:
          name: gsconnect@andyholmes.github.io
          path: _build/gsconnect@andyholmes.github.io/

